nav {
    background-color: #5982b1;
    padding: 10px;
    border-radius: 10px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block;
    margin-right: 10px;
}

span {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.start{
    float: right;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
}

#startButton {
    background-color: #4CAF50;
}

.centerLi{
    padding-top: 10px;
}

#Contenedores {
    display: grid;
    justify-content: center;
}

.Contenedor {
    display: flex;
    max-width: 1000px;
    justify-content: center;
    min-width: 100%;
}

.item {
    width: 20%;
    height: 220px;
    margin: 5px;
    text-align: center;
    line-height: 100px;
}

.imageQuestion {
    background-image: url('img/question.png');
    background-size: cover;
    background-position: center;
}

.flip {
    position: relative;
    transition: all 1s ease;
    transform: perspective(600px);
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
    border: 4px double teal;
    border-radius: 25px;
    margin: 5px;
    padding: 5px;
}

.flipped {
    transform: perspective(600px) rotateY(-180deg) translateX(100%);
}

.flip .flip-1,
.flip .flip-2 {
    position: absolute;
    backface-visibility: hidden;
    width: 90%;
}

.flip .flip-2 {
    transform: rotateY(-180deg);
}

.flipSize {
    width: 190px;
    height: 209px;
}

@media screen and (max-width: 768px) {
    .item {
        width: 45%;
        height: 120px;
    }

    .flipSize {
        width: 120px;
        height: 120px;
    }
}